<h1>Hello world!</h1>


<br />

<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a asp-controller="contactinfo" asp-action="index" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Contact Info
            </a>
        </li>
    </ul>
</div>

<br />
<br />
@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Account" asp-action="LogOut">Log out</a>
}
else
{
    <a asp-controller="Account" asp-action="Login">Log In</a>
}